.container {
  width:350px;
  height:380px;
  padding:20px;
}

img {
  float:right;
}

ul {
  list-style-type: none;
  padding-left:10px;
}

label, input {
    display: inline-block;
    vertical-align: baseline;
    width:140px;
}

button {
  margin-top:5px;
}

.cdbl-slider {
    width: 200px;
    margin: 10px;    
}

.btn-primary {
  float: right;
}

#colorpicker {
  position: absolute;
  bottom: 150px;
}
