<div class="container" id="draw">
  <h2>Controls</h2>

  <span>Brush Size:</span>
  <slider floor="1" ceiling="50" step="1" precision="1" ng-model="thickness"></slider>
<!--   <button class="black" ng-click="changeColor($event)" ng-controller="paletteController">Black</button>
  <button class="blue" ng-click="changeColor($event)" ng-controller="paletteController">Blue</button>
  <button class="red" ng-click="changeColor($event)" ng-controller="paletteController">Red</button>
  <button ng-click="nyan()" ng-controller="paletteController">Nyan</button>
  <button ng-click="erase()" ng-controller="paletteController">Erase</button>
 -->
 <span>Brush Style:</span>
 
   <ol class="nya-bs-select" ng-model="brushselect">
       <li value="paint" class="nya-bs-option">
           <a>
               Paintbrush
           </a>
       </li>
       <li value="spray" class="nya-bs-option">
           <a>
               Spraybrush
           </a>
       </li>
       <li value="circle" class="nya-bs-option">
           <a>
               Circlebrush
           </a>
       </li>
   </ol>


   <br>
  <button class='btn btn-primary' ng-click="end()"><i class="fa-check fa"></i> Submit</button>
   <br>
  <input id='colorpicker' style={{"background-color:"+color+";"}} placeholder="Choose a color!" colorpicker type="text" ng-model="color" />
</div>
