<div class="container" id="draw">

  <span>Brush Size:</span>

  <slider floor="1" ng-mouseup="changeWidth($event, thickness)" ceiling="80" step="1" precision="1" ng-model="thickness"></slider>

 <span>Brush Style:</span>
 
   <ol class="nya-bs-select" ng-change="brushSelect($event, brush)" ng-model="brush">
       <li value="Pencil" class="nya-bs-option">
           <a>
               Paintbrush
           </a>
       </li>
       <li value="Spray" class="nya-bs-option">
           <a>
               Spraybrush
           </a>
       </li>
       <li value="Circle" class="nya-bs-option">
           <a>
               Circlebrush
           </a>
       </li>
   </ol>


   <br>
  <button class='btn btn-success finish' ng-click="end(); toggleStatus()"><i class="fa-check fa"></i> Finish</button>
   <br>
    <span>Color:</span>
  <input id='colorpicker' ng-change="changeColor($event, color)" style={{"background-color:"+color+";"}} placeholder="Choose a color!" colorpicker type="text" ng-model="color" />
</div>
