<div class="container" id="signup">
  <h3>Sign Up</h3>
  <form name="signup">
    <ul>
      <li>
        <label for="email">Email Address:</label>
        <input ng-model="email" id="email" type="email" placeholder="test@test.com" required></input>
      </li>
      <li>
        <label for="password">Password:</label>
        <input ng-model="password" id="password" type="password" placeholder="******" required></input>
      </li>
      <li>
        <button class="btn btn-success" ng-click="signUp()">Sign Up</button>
      </li>
    </ul>
  </form>

  <br>
  <a ui-sref="login">Already a user?  Login here...</a>
</div>